/* AboutMe.css */
.about-me-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 100px 20px; /* Adjust padding to avoid overlap with fixed navbar */
    background-color: #f9f9f9;
    color: #333;
    text-align: center;
  }
  
  .about-heading h1 {
    font-size: 36px;
    margin-bottom: 20px;
    color: #333;
    position: relative;
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-20px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
  .about-image-container {
    width: 200px;
    height: 200px;
    margin-bottom: 20px;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    animation: scaleIn 1s ease-in-out;
  }
  
  @keyframes scaleIn {
    0% {
      transform: scale(0);
    }
    100% {
      transform: scale(1);
    }
  }
  
  .about-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .about-info {
    max-width: 800px;
    margin: 0 auto;
    font-size: 18px;
    line-height: 1.6;
    color: #666;
  }
  
  .about-info p {
    margin-bottom: 20px;
    animation: slideIn 1s ease-in-out;
  }
  
  @keyframes slideIn {
    0% {
      opacity: 0;
      transform: translateX(-20px);
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  @media (max-width: 768px) {
    .about-me-section {
      padding: 80px 10px;
    }
  
    .about-heading h1 {
      font-size: 28px;
    }
  
    .about-image-container {
      width: 150px;
      height: 150px;
    }
  
    .about-info {
      font-size: 16px;
    }
  }
  