.projects-container {
  padding: 10px 20px; /* Adjust padding to avoid overlap with fixed navbar */
  background-color: #f9f9f9;
  text-align: center;
}

.projects-container h1 {
  font-size: 36px;
  margin-bottom: 20px;
  color: #333;
}

.projects-container h2 {
  font-size: 18px;
  margin-bottom: 40px;
  color: #666;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
  justify-items: center;
}

.project-card {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  max-width: 250px; /* Adjusted max-width to match technology cards */
  width: 100%; /* Ensures cards take full width within the grid */
  text-decoration: none; /* Remove underline from links */
  color: inherit; /* Inherit text color */
  cursor: pointer; /* Change cursor to pointer to indicate clickability */
}

.project-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.project-card img {
  width: 100%;
  height: auto;
  border-radius: 8px;
  margin-bottom: 15px;
}

.project-card h3 {
  font-size: 24px;
  margin-bottom: 10px;
  color: #333;
}

.project-card p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.project-card button {
  background-color: #ff6347;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

@media (max-width: 768px) {
  .projects-container h1 {
    font-size: 28px;
  }
}
